html {
	background: #090d00;
}

body {
    font: 400 1em/1.5 "Oswald";

    color: rgba(255, 255, 255, .25);
    text-align: center;
    margin: 0;
}

#what-to-watch-header {
    text-transform: uppercase;
    letter-spacing: .5em;
	border: 4px double rgba(255,255,255,.25);
	border-width: 4px 0;
	width: 40em;
}

span {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
	text-shadow: 0 0 80px rgba(255,255,255,.5);
}

#movie-poster {
	width: 20rem;
	height: auto;
}

#btn-container {
    text-transform: uppercase;
    width: 230px;
	color: rgba(255, 255, 255, 0.299);
	background-color: black;
    padding: 10px;
    margin: 400px;
    border-radius: 5px;
    border: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    box-shadow: 0 8px 16px 0 rgba(246, 244, 244, 0.2), 0 6px 20px 0 rgba(218, 212, 212, 0.19);
    cursor: pointer;
}

#movie-description {
    color: rgba(255, 255, 255, 0.751);
}

#movie-info {
    color: rgba(255, 255, 255, 0.751);
}